# Database (Production)
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Database (Local) - для view-db программы
DATABASE_URL_LOCAL="postgresql://user:password@localhost:5432/database?sslmode=require"

# Для Prisma <5.10 используйте также:
# DATABASE_URL_UNPOOLED="postgresql://user:password@host:port/database?sslmode=require"
