# Database
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Для Prisma <5.10 используйте также:
# DATABASE_URL_UNPOOLED="postgresql://user:password@host:port/database?sslmode=require"
